/*hay una lista de items contenido en un listview*/
/*el list-view debe establecer que para la list item, se establecera una distribucion de 2 items por fila*/
/* .list-view .list-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
} */


/*el list item debe tener una distribucion de 2 items por fila*/
.list-item {
  display: flex;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.item-color {
  width: 45%;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  justify-content: center;
  display: flex;
}