/* Establecer margen y color de fondo, fuente de letras, centrado horizontal y vertical*/

body {
  margin: 0;
    padding: 0;
    background-color: #006680;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}